Package: net.joedj.cmdivator
Name: Cmdivator
Version: 0.1
Author: joedj <cmdivator@joedj.net>
Maintainer: BigBoss <bigboss@thebigboss.org>
Depends: firmware (>= 5.0), mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: Run custom commands via Activator
Section: Tweaks
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=cmdivatorDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=cmdivatorDp
Icon: file:///Library/Cmdivator/Cmdivator.png
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension, role::enduser
dev: joejordan
